@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
.ba-container {
	width: 960px;
}
.cover {
	background-color: #23232E;
	padding: 75px 0;
	color: #fff;
	height: 100vh;
}
.cover__logo {
	width: 140px;
}
.cover__title {
	text-transform: uppercase;
	font-family: "Lato", Arial, sans-serif;
	font-size: 80px;
	font-weight: 700;
	line-height: 30px;
	margin: 20vh 0 8vh;
}
.cover__subtitle {
	font-family: "Lato", Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
	max-width: 400px;
	margin: 0 auto;
}
.cover__btn {
	display: inline-block;
	width: 45px;
	height: 45px;
	background-image: url("../img/bg.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	bottom: 75px;
	top: auto;
	opacity: 0.75;
	transition: all .5s linear;
}
.content {
	font-family: "Lato", Arial, sans-serif;
	color: #464b4f;
	padding: 100px 0;
	background-image: url("../img/lines.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.cover__btn:hover,
.cover__btn:focus,
.cover__btn:active {
	opacity: 1;
}
.description {
	font-size: 30px;
	font-weight: 300;
	line-height: 1.5;
	padding: 0px 7% 40px;
}
.description p {
	margin-bottom: 50px;
}
.columns__title {
	font-size: 80px;
	line-height: 0.5;
	text-transform: uppercase;
	margin-bottom: 80px;
	font-weight: 900;
}
.column *{
	font-size: 18px;
}
.column h2 {
	line-height: 2;
}
.column p {
	font-size: 18px;
	line-height: 1.6;
	color: #888a8b;
}